repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v2.32.0
  hooks:
  - id: pyupgrade
    args: ["--py36-plus"]
- repo: https://github.com/python/black
  rev: 22.3.0
  hooks:
  - id: black
    language_version: python3
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    additional_dependencies: ['flake8-bugbear==19.8.0']
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.942
  hooks:
  - id: mypy
    additional_dependencies: [marshmallow-enum,typeguard,marshmallow]
    args: [--show-error-codes]
- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==19.3b0]
