repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.2.3
  hooks:
  - id: pyupgrade
    args: ["--py36-plus"]
- repo: https://github.com/python/black
  rev: 22.10.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/PyCQA/flake8
  # Flake8==6.0.0 requires python>=3.8.1
  rev: 5.0.4
  hooks:
  - id: flake8
    additional_dependencies: ['flake8-bugbear==22.10.27']
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
  - id: mypy
    additional_dependencies:
      - marshmallow
      - marshmallow-enum
      - typeguard
      - types-setuptools
      - typing-inspect
    args: [--show-error-codes]
- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==22.8.0]
