[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"

[packages]
marshmallow = ">=3.0.0rc4,<4.0"
typing-inspect = "*"
dataclasses = "*"
marshmallow-enum = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
