[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"

[packages]
marshmallow = ">=2.0,<3.0"
typing-inspect = "*"
dataclasses = "*"

[requires]
python_version = "3.7"
