# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.6", "3.7", "3.8", "3.9", "3.10", "pypy3"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python_version }}
    - name: set pre-commit cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.cache/pre-commit
          ~/.cache/pip
        key: ${{ matrix.python_version }}-${{ hashFiles('.pre-commit-config.yaml') }}-${{ hashFiles('setup.py') }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --pre -e '.[dev]'
    - name: Pre-commit hooks
      if: ${{ matrix.python_version != 'pypy3' }}
      run: pre-commit run --all-files
    - name: Test with pytest
      run: pytest
      env:
        PYTHONWARNINGS: error
